.about__icon i {
  color: #17f61b;
}

.about__img {
  padding: 10px;
  background: #151515;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about__img img {
  width: 100% !important;
  border-radius: 5px;
}

.about__img__box {
  width: 300px !important;
}

@media only screen and (max-width: 992px) {
  .about__img__gallery {
    justify-content: center !important;
    margin-top: 50px;
  }

  .about__content h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .about__img__box {
    display: none;
    width: 150px !important;
  }
}
